/**
 * Bootstrap Stylesheet and Theme
 */

//@import "bootstrap/scss/bootstrap";
@import "primereact/themes/sauna-sim/sauna-sim-dark/theme";

body {
  margin: 0;
}

// FMA/PFD Colors
.pfd-selected {
  color: var(--cyan-500); //$cyan
}

.pfd-managed {
  color: var(--pink-700); //$pink-700;
}

.pfd-measured {
  color: var(--green-500); //$green;
}

.fma-active-conv {
  color: var(--green-500); //$green;
}

.fma-active-fms {
  color: var(--pink-700); //$pink-700;$pink-700;
}

.fma-armed {
  color: #ffffff; // $white;
}